{% include "header.html" %}

<main class="px-3">
  <div class="mb-4 mx-auto text-start" style="max-width: 700px;">
    <h1 class="mb-3">Hey, I'm Martin 👋🏻</h1>
    <p>
      Data Engineer by day, software engineer by night. 
      I am interested in programming, data science, biology, cycling & the outdoors. 
    </p>
    <p>
      I am currently plying my trade at a company in the bike industry, where I help build and maintain the data infrastructure that facilitates insightful reporting and data analysis. 
      I do so by creating and maintaining data pipelines, expanding and looking after the data warehouse, as well as helping the business translate analytics needs into concrete engineering requirements.
    </p>
  </div>
  

</main>

{% include "footer.html" %}