{% include "header.html" %}

<main class="px-3">

  <img src="{{ url_for('static', filename='images/avataaars_col1.svg')}}" alt="Avatar SVG" class="img-fluid w-80 my-5">
  <h1>Hey, I'm Martin.</h1>
  <p class="lead text-muted">
    I'm a Data Engineer and aspiring Software Engineer.
  </p>
  <p class="lead">
    <a href="{{ url_for('projects') }}" class="btn btn-lg btn-light fw-bold border-white bg-white"
      >Portfolio Projects</a
    >
  </p>

  <div class="d-flex justify-content-center gap-4 my-5 align-items-center">
    <a href="https://www.linkedin.com/in/martin-m-04472286/"
       target="_blank"
       rel="noopener"
       class="text-decoration-none d-inline-flex align-items-center linkedin-link">
      <i class="bi bi-linkedin me-1 linkedin-blue" aria-hidden="true"></i>
      <span class="text-muted">LinkedIn</span>
    </a>
    <a href="https://github.com/mmoench16/mmoench16"
       target="_blank"
       rel="noopener"
       class="text-decoration-none d-inline-flex align-items-center github-link">
      <i class="bi bi-github me-1 github-white" aria-hidden="true"></i>
      <span class="text-muted">GitHub</span>
    </a>
    <a href="https://mastodon.social/@JohnnyZeeGerman"
       target="_blank"
       rel="noopener"
       class="text-decoration-none d-inline-flex align-items-center mastodon-link">
      <i class="bi bi-mastodon me-1 mastodon-purple" aria-hidden="true"></i>
      <span class="text-muted">Mastodon</span>
    </a>
  </div>

</main>

{% include "footer.html" %}