{% include "header.html" %}

<main class="px-3">
  {% if project %}
    <h1>{{ project.title }}</h1>
    <p class="text-muted">
      {{ project.timestamp.strftime('%d %b %Y') if project.timestamp }}
    </p>
    {% if project.image_url %}
      <div class="mb-3">
        <img src="{{ project.image_url }}" class="img-fluid project-details-image" alt="{{ project.title }} screenshot">
      </div>
    {% endif %}
    <div class="mb-4">
      {% if project.app_url %}
        <a href="{{ project.app_url }}" class="btn btn-primary me-2 mb-2" target="_blank">Open App</a>
      {% endif %}
      {% if project.github_link %}
        <a href="{{ project.github_link }}" class="btn btn-light mb-2" target="_blank">View on GitHub</a>
      {% endif %}
    </div>
    {% if project.long_description_html %}
      <div class="mb-4 mx-auto text-start" style="max-width: 700px;">
        {{ project.long_description_html | safe }}
      </div>
    {% endif %}
  {% else %}
    <p>Project details not available.</p>
    <p>Maybe head back to <a href="{{ url_for('projects') }}">Projects</a> and select a different one.</p>
  {% endif %}
</main>

{% include "footer.html" %}