{% include "header.html" %}

<main class="px-3">
  <h1>Portfolio Projects</h1>
  <p>Some of my work.</p>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  <div class="d-flex flex-column align-items-center">
  {% for project in projects %}
  <div class="card mb-3 h-100 d-flex flex-column project-card">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body text-start">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">
          <small class="text-body-secondary">
            {{ project.timestamp.strftime('%d %b %Y') if project.timestamp }}
          </small>
        </p>
        <p class="card-text">
          {% set desc = project.description %}
          {{ desc[:150] }}&hellip; <a href="{{ url_for('project_detail', project_id=project.id) }}" class="text-primary">[Read More]</a>
        </p>
        <button type="button" class="btn btn-primary">Open App</button>
        <button type="button" class="btn btn-light">View on GitHub</button>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block d-flex">
      <img src="{{ project.image_url }}" 
           class="img-fluid rounded-end project-card-image" 
           alt="{{ project.title }} project screenshot">
    </div>
  </div>
</div>
{% endfor %}
</div>

<p>More to be added soon 🤓</p>

</main>

{% include "footer.html" %}